.shopping-cart{
  width: 100%;
  min-height: 95px;
  display: grid;
  grid-template-columns: 1fr 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  background-color: #fff;
  border-radius: 15px;
}
.shopping-cart p {
  font-size: var(--fs-details);
  color: var(--black-color);
}
.shopping-cart img {
  min-width: 90%;
  object-fit: contain;
}
.shopping-cart figure{
  height: 100%;
  width: 100%;
  display: flex;
  place-content: center;
}