.filters{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.categorieContainer{
  width: 100px;
  height: 45px;
  margin-right: 20px;
  border:none;
  position: relative;
  border-radius: 24px;
  background-color: var(--brand-color);
  color: var(--white-color);
  font-size: var(--fs-details);
}
.categorieContainer span{
  text-transform: capitalize;
}
.categorieContainer__list{
  width: 200px;
  min-height: 200px;
  background-color: var(--brand-color);
  border-radius: 5px;
  position: absolute;
  padding: 5px;
  top: 53px;
  right: 0px;
  z-index: 5;
}
.categorieContainer__list-triangle{
  border-bottom: 10px solid var(--brand-color);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  z-index: 2;
  top: -8px;
  right: 20%;
}
.categorieContainer__list-item{
  margin: 15px 0;
}
.categorieContainer__list-item span{
  padding: 7px;
  text-transform: capitalize;
  
}