footer{
  width: 100%;
  min-height: 200px;
  position: relative;
  bottom: 0;
  background-color: var(--brand-color);
  display: grid;
  grid-template-columns: repeat(3,minmax(100px, 1fr));
  column-gap: 5px;
}
