footer{
  width: 100%;
  min-height: 200px;
  position: relative;
  bottom: 0;
  background-color: var(--brand-color);
  display: grid;
  column-gap: 5px;
}
.frankiiize {
  text-align: end;
  padding-right: 20px;
  padding-bottom: 20px;
  color: var(--white-color);
}

