.headerContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80px;
  background-color: var(--brand-color);
}
.headerContainer nav {
  width: 90%;
  height: 80px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.headerContainer__logoWrapper{
  width: 130px;
  height: auto;
}
.headerContainer__logoWrapper img {
  object-fit: contain;
}
.headerCointaner__user{
  min-width: 100px;
}

.headerCointainer__user--userImg{
  object-fit: contain;
  width: 42px;
  height: 42px;
}
.headerCointainer__user--login{
  display: flex;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--white-color);
  padding: 5px;
}
.headerCointainer__user--login span{
  margin-right: 10px ;
  font-size: var(--fs-body-text);
}
.headerContainer__links{
  display: flex;
  height: 100%;
  min-width: 100px;
  justify-content: flex-end;
}

.headerContainer__links li {
  list-style: none;
}

.headerContainer__links li a{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 7px;
  justify-content: flex-end;
}
.headerContainer__links li:nth-child(2) a{
  padding-right: 0;
}

/* FORM STYLES */
.headerContainer__search{
  width: 90%;
  max-width: 500px;
  margin: 20px 0;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.headerContainer__search label {
  height: inherit;
  
}

.headerContainer__search input{
  width: 100%;
  height: 50px;
  border-radius: 23px;
  border: none;
  outline: var(--sucess-color);
  padding-left: 50px;
}
.headerContainer__search input::placeholder{
  padding: 50px;
}
.headerContainer__search-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1%;
  left: -1%;
  transform: translate(50%,50%);
}
