.headerContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--brand-color);
}
.headerContainer nav {
  width: 90%;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 10px;
}
.headerContainer .headerWrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.headerContainer nav h2{
  font-size: var(--fs-bigger);
  text-transform: capitalize;
  color: var(--white-color);
  text-align: left;
  letter-spacing: 1.2px;
}
.headerContainer__logoWrapper{
  min-width: 70px;
  max-width: 135px;
  height: auto;
}
.headerContainer__logoWrapper img {
  object-fit: contain;
}
.headerCointaner__user{
  width: 100%;
  min-width: 100px;
  display: grid;
  justify-content: flex-end;
  align-items: flex-start;
}

.headerCointainer__user--userImg{
  object-fit: contain;
  width: 32px;
  height: 32px;
}
.headerCointainer__user--login{
  display: flex;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--white-color);
  padding: 5px;
}
.headerCointainer__user--login span{
  margin-right: 10px ;
  font-size: var(--fs-body-text);
}
.headerContainer__links{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  color: var(--white-color);
}
.headerContainer__links .headerContainer__links--userInfo {
  height: 50px;
  width: 100%;
  text-transform: capitalize;
  font-size: var(--fs-details);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.headerContainer__links--userInfo picture {
  display: flex;
  align-items: center;
  min-width: 40px;
  justify-content: flex-end;
  padding: 5px;
}
.headerContainer__links--userInfo picture a{
  border-color: var(--white-color);
  color: var(--white-color);
}
.headerContainer__links--userInfo picture a:visited{
  color: var(--white-color);
  border-color: var(--white-color);

}
.headerContainer__links--userInfo img {
  max-width: 32px;
  object-fit: contain;
  image-rendering: pixelated;
  border-radius: 50%;
}
.headerContainer__links--userInfo span:nth-child(1){
  margin-right: 5px;
}
.headerContainer__links--userInfo span:nth-child(2){
  margin-right: 10px;
}

.headerContainer__links li {
  list-style: none;
}
.headerContainer__links li a{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px;
  justify-content: flex-end;
}
.headerContainer__links-shoppingCart {
  padding: 7px;
  background-color: transparent;
  border: none;
  position: relative;
}
.headerContainer__links-shoppingCart > span{
  position: absolute;
  top: 0;
  right: 5%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: var(--fs-details);
  background-color: var(--sucess-color);
}

/* FORM STYLES */
.headerContainer__search{
  width: 100%;
  max-width: 500px;
  height: 60px;
  margin: 10px auto;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.headerContainer__search label {
  height: inherit;
  
}

.headerContainer__search input{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: var(--sucess-color);
  padding-left: 50px;
}
.headerContainer__search input::placeholder{
  padding: 50px;
}
.headerContainer__search-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1%;
  left: -1%;
  transform: translate(50%,50%);
}
.online {
  box-shadow:0 0 0px 2px; ;
  border-radius: 50%;
}
@media (max-width: 375px) {
  .headerContainer__links .headerContainer__links--userInfo{
    font-size: var(--fs-small);
  }
  .headerContainer__links .headerContainer__links--userInfo span{
    margin: 0;
  }
}