.footerInfoContainer__card{
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: var(--white-color);
  position: relative;
  
}
.footerInfoContainer__card picture{
  padding: 5px;
  margin-top: 20px;
}
.footerInfoContainer__card picture img {
  padding: 5px;
  object-fit: contain;
  width: 100%;
  max-width: 50px;
  object-position: center;
}

.footerInfoContainer__card h3 {
  padding: 5px;
  font-size: var(--fs-body-text);
  margin-top: 5px;
}

.footerInfoContainer__card span{
  padding: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: var(--fs-small);
}