/* --------------LOGIN FORM-------------- */
.login__form{
  width: 100%;
  min-height: 100px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form label {
  width: 90%;
  height: 48px;
  border: 1px solid var(--white-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  background-color: var(--white-color);
}
.login__form label input{
  width: 90%;
  height: 90%;
  border: none;
  background: none;
  outline: none;
  font-size: var(--fs-body-text-small);
  font-family: var(--font-primary);
  color: var(--black-color);
}
.login__form label input::placeholder{
  color: var(--black-color);
  font-size: var(--fs-details);
  text-transform: capitalize;
}
.login__form label input:-webkit-autofill,
.login__form label input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
    font-size: var(--fs-details);
    color: var(--white-color)!important;
    font-weight: 400;
    letter-spacing: 1px;
}
.login__form button{
  width: 90%;
  max-width: 100%;
  height: 48px;
  margin: 20px 0;
  color: var(--sucess-color);
  background-color: var(--white-color);
}
.login__form  .option {
  width: 90%;
  min-height: 50px;
  display: flex;
  color: var(--black-color);
  font-size: var(--fs-details);
  align-items: center;
  justify-content: flex-start;
  text-transform: capitalize;
  padding: 5px 18px;
}
.login__form .option > span{
  padding-right: 18px;
}
.login__form select{
  margin: 0;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--white-color);
  box-shadow: inset 0px 0px 1px 0px;;
  color: var(--black-title-color);
  font-size: var(--fs-details);
  font-family: var(--font-primary);
  background-color: transparent;
}
.phoneContiner{
  display: flex;
  width: 90%;

}
.phoneContiner label:nth-child(1){
  max-width: 25%;
  min-width: 25%;
  margin-right: 10px;
}
.phoneContiner label select{
  display: block;
  height: 100%;
  font-size:var(--fs-body-text-small);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.3;
  padding: .4em 1.4em .3em .8em;
  box-shadow: 0 1px 0 1px var(--white-color);
  border-radius: .3em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('../../assets/icons/arrowDown.svg'),
  linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.phoneContiner label select:focus, .login__form input:focus{
  border-color: var(--sucess-color);
  width: 100%;
  padding-left: 5%;
  border-radius: var(--border-radius-less );
  box-shadow: 0 0 1px 3px var(--sucess-color);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: var(--black-details-color); 
  outline: none;
}  
