/* HISTORY CARD */
.cardOrder_item {
  width: 100%;
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(2, minmax(120px , 1fr));
  grid-template-rows: auto auto;
  row-gap: 10px;
  align-items: center;
  -webkit-box-shadow: var(--box-shadow); 
  box-shadow:var(--box-shadow);
  margin-bottom: 10px;
}
.cardOrder_item p {
  font-family: var(--font-primary);
  font-size: var(--fs-body-text-small);
  color: var(--black-color);
  font-weight: bold;
  text-transform: capitalize;
}
.cardOrder_item span{
  font-family: var(--font-primary);
  font-size: var(--fs-body-text-small);
  color: var(--brand-color);
  font-weight: normal;
  text-transform: capitalize;
}
.cardOrder_item-title{
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  width: 95%;
  margin: 0 auto;
}

.cardOrder_item-code {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
}

.cardOrder_item-code p{
  padding-right: 10px;
}
.cardOrder_item-status{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px;
}
.cardOrder_item-statusDelivery {
  display: flex;
  align-items: flex-start;
  font-size: var(--fs-details);
}
.cardOrder_item-statusDelivery p {
  padding-right: 5px;
  color: var(--brand-color);
}
.cardOrder_item-statusDelivery span{
  word-wrap: break-word;
}
.cardOrder_item-statusCheck{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.cardOrder_item-statusCheck-adminSelect, .cardOrder_item-statusCheck-adminBtn {
  width: 100%;
  max-width: 200px;
  padding: 5px;
  border-radius: var(--border-radius);
  font-family: var(--font-primary);
  font-size: var(--fs-body-text-small);
  margin-right: 10px;
}
.cardOrder_item-statusCheck-adminSelect{
  border: 1px solid var(--sucess-color);
  margin-bottom: 10px;
}
.cardOrder_item-statusCheck-adminBtn{
  border: none;
  background-color: var(--sucess-color);
  text-transform: uppercase;
  color: var(--white-color);
}
.cardOrder_item-statusCheck-icon{
  width: 100%;
  max-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardOrder_item-statusCheck-msj{
  display: flex;
  justify-content: center;
  min-width: 150px;
}
/*  */
.cardOrder_item-info{
  width: 95%;
  margin: 0 auto;
  grid-column: 1 / 3;
  grid-row: 2 / 2;
  display: flex;
}
.cardOrder_item-info ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: start;
  flex-wrap: wrap;
}
.cardOrder_item-info ul li {
  padding: 10px;
}
.cardOrder_item-info ul li:nth-child(2) span{
  text-transform: none;
}
.cardOrder_shopCard {
  width: 100%;
  grid-column: 1 / 3;
  
}
.cardOrder_shopCard-card{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 5px;
  padding: 15px;
  gap: 10px;
}
.cardOrder_shopCard-card:nth-child(even){
  border-top: 1px solid var(--black-separador);
}

.orderHistory_shopCard-card {
  min-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.orderHistory_shopCard-card li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

}
.orderHistory_shopCard-total{
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  grid-column: 1 / 3;
  width: 95%;
  margin: 0 auto;

}
.orderHistory_shopCard-total p{
  padding-right: 5px;
}

.orderHistory_shopCard-buttons {
  min-width: 40%;
  display: flex;
  flex-direction: column;


}
.orderHistory_shopCard-buttons button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.orderHistory_shopCard-buttons button:nth-child(1){
  color: var(--error-color);
  font-size: var(--fs-details);
  border: 1px solid var(--brand-color);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  padding: 0;
}
.orderHistory_shopCard-buttons button:nth-child(1):disabled{
  opacity: 0.4;
  cursor: auto;
}
.orderHistory_shopCard-buttons button:nth-child(2){
  color: var(--white-color);
  background-color: var(--brand-color);
  font-size: var(--fs-details);
}






/* HISTORY CARD */