/* HISTORY CARD */
.cardOrder_item {
  width: 100%;
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(2, minmax(180px, 1fr));
  grid-template-rows: auto auto;
  row-gap: 10px;
  align-items: center;
  -webkit-box-shadow: var(--box-shadow); 
  box-shadow:var(--box-shadow);
  margin-bottom: 10px;
}
.cardOrder_item p {
  font-family: var(--font-primary);
  font-size: var(--fs-body-text-small);
  color: var(--black-color);
  font-weight: bold;
  text-transform: capitalize;
}
.cardOrder_item span{
  font-family: var(--font-primary);
  font-size: var(--fs-body-text-small);
  color: var(--brand-color);
  font-weight: normal;
  text-transform: capitalize;
}
.cardOrder_item-title{
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  width: 95%;
  margin: 0 auto;
}

.cardOrder_item-code {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.cardOrder_item-code p{
  padding-right: 10px;
}
.cardOrder_item-status{
  width: 95%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.cardOrder_item-statusDelivery {
  display: flex;
  align-items: flex-start;
  font-size: var(--fs-details);
}
.cardOrder_item-statusDelivery p {
  padding-right: 5px;
  color: var(--brand-color);
}

.cardOrder_item-statusCheck{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*  */
.cardOrder_item-info{
  grid-column: 1 / 3;
  grid-row: 2 / 2;
}
.cardOrder_item-info {
  width: 95%;
  margin: 0 auto;
  display: flex;
}
.cardOrder_item-info ul, .cardOrder_shopCard ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: start;
  flex-wrap: wrap;
}
 
.cardOrder_item-info ul li:nth-child(2) span{
  text-transform: none;
}
.cardOrder_shopCard {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  grid-column: 1 / 3;
}
.cardOrder_shopCard ul {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom:10px;
}

.cardOrder_shopCard ul .cardOrder_shopCard-btn{
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: -1 / -4;
}
.cardOrder_shopCard  button{
  border: 1px solid var(--brand-color);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  background-color: transparent;
  padding: 5px;
  color: var(--sucess-color);
  font-size: var(--fs-details);
  font-weight: bold;
}
.cardOrder_shopCard-btn button:disabled{
  opacity: 0.4;
}
.cardOrder_shopCard ul .cardOrder_shopCard-imgWrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.cardOrder_shopCard .cardOrder_shopCard-btn-Delete{
  border: none;
  margin-right: 20px;
  color: var(--error-color);
}
.cardOrder_shopCard ul li .cardOrder_shopCard-btn-buy{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.orderHistory_shopCard-total{
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  grid-column: 1 / 3;
  width: 95%;
  margin: 0 auto;

}
.orderHistory_shopCard-total p , .orderHistory_shopCard-total span{
  padding-left: 5px;
  font-weight: 700;
}

/* ----------ADMIN---------- */






/* HISTORY CARD */