.Product__item-LINK{
  text-decoration: none;

}
.Product__item-LINK:visited{
  color: none;
}
.Products__item{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7px;
  box-shadow:  3px 1px 7px 3px var(--shadow-color);
}
.Products__item-img{
  width: 100%;
  min-height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.Products__item-img img {
  object-fit: contain;
  width: 100%;
}
.Products__item-title{
  width: 100%;
  min-height: 30px;
  text-align: left;
}
.Products__item-title h3 {
  font-family: var(--font-title);
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.Products__item-description{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
}
.Products__item-descriptionDetails{
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 10px;
  font-family: var(--font-title);
  border-bottom: 1px solid var(--black-separador);
}
.Products__item-descriptionDetails span {
  font-size: var(--fs-subtitle);
  text-transform: capitalize;
  font-weight: 700;
  color: var(--black-title-color);
  letter-spacing: 1.5px;
}
.Products__item-descriptionDetails span:nth-child(1){
  font-size: var(--fs-subtitle);
}
.Products__item-descriptionDetails span:nth-child(2){
  color: var(--brand-color);
  font-size: var(--fs-title);
}
.Products__item-description article {
  width: 100%;
  font-size: var(--fs-body-text-small);
  color: var(--black-color);
  overflow: hidden;
  max-height: 200px;
  padding-top: 10px;
}
.Products__item-description article p{
  text-align: left;
  padding: 0 10px;
}
.Products__item-btn{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.Products .Products__item-btn button{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Products .Products__item-btn button img{
  width: 32px;
  opacity: 0.7;
}