.Products{
  width: 95%;
  height: 100%;
  min-height: 200px;
  margin: 20px auto;
}
.Products__title{
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.Products h2 {
  text-transform: capitalize;
  color: var(--black-color);
  font-size: var(--fs-body-text);
  font-weight: bold;
}
/* .Products button {
  width: 87px;
  background-color: var(--brand-color);
  border: none;
  border-radius: 24px;
  padding: 5px;
  color:var(--white-color);
  font-size: var(--fs-details);
} */
.Products__list{
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x:  scroll;
  overflow-y: hidden;
  padding-bottom: 15px;
}
.Products__grid{
  width: 100%;
  display: grid;
  justify-content: center;
  column-gap: 15px;
  grid-template-columns: repeat(auto-fill,minmax(270px, 1fr));
  grid-auto-rows: 350px;
  row-gap: 15px;
}

