:root {
  --surface-color: #fff;
  --curve: 40;
}
.Product__item{
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  box-shadow: 3px 1px 7px 3px var(--shadow-color);;
}
.Product__item-Img{
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: center;
}
.Product__item-Img img{
  max-width: 300px;
  object-fit: contain;
}

.Products__item-description{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.Products__item-descriptionDetails{
  position: absolute;
  top:0;
  width: 100%;
  min-height: 300px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Products__item-descriptionDetails > div {
  width: 70%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Products__item-descriptionDetails-link{
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Products__item-descriptionDetails-link span{
  text-transform: uppercase;
  font-size: var(--fs-details);

}

.Products__item-descriptionDetails article p {
  font-size: var(--fs-details);
  color: var(--black-details-color);
  padding: 0 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.Products__item-description-header{
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1.5rem;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--white-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
  justify-content: space-between;
}
.Products__item-description-header h3 {
  font-size: var(--fs-subtitle);
}
.Products__item-description-header span{
  font-size: var(--fs-title); 
  color: var(--brand-color);
  font-weight: 700;
  padding-right: 5px;
  
}
.Products__item-btn{
  
  display: flex;
  justify-items: flex-start;
  background-color: transparent;
  justify-content: flex-end;
  z-index: 3;
}
.Products__item-btn button{
  width: 32px;
  padding-right:5px;
  padding-left:5px;
  background-color: transparent;
  border: none;
}
.Products__item-btn button img{
  width: 32px;
}

.showOverlay{
  transform: translateY(-100%);
  
}
@media (min-width: 700px) {
  
  .Products__item:hover , .Products__item-description:hover {
    transform: translateY(-100%);
  } 

 }