.checkoutMain{
  width: 100%;
}
.checkoutMain .checkoutMainWrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: 1fr;
  column-gap: 10px;
}
.checkoutMain__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkoutMain__title h3 {
  font-size: var(--fs-title);
  font-family: var(--font-title);
  letter-spacing: var(--letler-spacing-title);
}
.checkoutMain__listItems{
  width: 100%;
  border-top: 1px solid var(--black-separador);
  padding: 0 20px;
}

.checkoutMain__resume{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border-radius: var(--border-radius-less);
}
.checkoutMain__resume h3 {
  text-align: center;
  padding: 15px;
  font-family: var(--font-title);
  letter-spacing: var(--letler-spacing-title);
}
/* --------------ESTILOS RADIO-------------- */

.checkoutMain__resume-checkbox{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  
}
.checkoutMain__resume-DeliveryOptions{
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}

.checkoutMain__resume-checkbox  label {
  text-transform: capitalize;
  font-weight: 700;
  font-size: var(--fs-details);
  color: var(--black-color);
  margin-bottom: 11px;
  width: 100%;
  float: left;
  cursor: pointer;
  padding: 0 1em;
  box-sizing: border-box;
  background: var(--black-bg-contrast);
  transition: all 0.5s ease 0s;
}
.checkoutMain__resume-checkbox ul > .fileLoaderContainer{
  background-color: transparent;
  padding: 0;
}
.checkoutMain__resume-checkbox picture{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkoutMain__resume-checkbox picture img{
  max-width: 225px;
}
.checkoutMain__resume-checkbox li p {
  font-size: var(--fs-body-text-small);
  padding: 0 10px 10px;
  font-weight: 700;
  color: var(--error-color);
  text-transform: capitalize;
}

.checkoutMain__resume-checkbox li p::before{
  content: '**';
  color: var(--error-color);
  font-size: var(--fs-subtitle);
  padding-right: 5px;
}
.checkoutMain__resume-checkbox li input[type="radio"] {
  display: none;
}
.checkoutMain__resume-checkbox li input[type="radio"] + label {
  line-height: 3em;
}
.checkoutMain__resume-checkbox li input[type="radio"] + label {
  border-radius: 50px;
}
.checkoutMain__resume-checkbox li input[type="radio"]:disabled + label {
  color: #ccc !important;
  cursor: not-allowed;
}
.checkoutMain__resume-checkbox li input[type="radio"]:checked:disabled + label:after {
  border-color: #ccc;
}
.checkoutMain__resume-checkbox li input[type="radio"] + label:before{
  content: "";
  width: 26px;
  height: 26px;
  float: left;
  margin-right: 0.5em;
  border: 2px solid #ccc;
  background: #fff;
  margin-top: 0.8rem;
}
.checkoutMain__resume-checkbox li input[type="radio"] + label:before {
  border-radius: 100%;
}
.checkoutMain__resume-checkbox li input[type="radio"]:checked + label {
  background: var(--sucess-color);
  color: var(--white-color);
}
.checkoutMain__resume-checkbox li input[type="radio"]:checked + label:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid var(--sucess-color);
  float: left;
  margin-left: -2.7rem;
  margin-top: 1.4rem;
  border-radius: 100%;
}
.checkoutMain__resume-checkbox li input[type="radio"]:checked + label:before {
  border-color: var(--sucess-color);
}
.checkoutMain__resume-checkbox li input[type="radio"]:checked:disabled + label {
  background: #ccc;
  color: #fff !important;
}
.checkoutMain__resume-checkbox li input[type="radio"]:checked:disabled + label:before {
  border-color: #bdbdbd;
}
/* --------------ESTILOS RADIO-------------- */



.checkoutMain__resume-deliveryInfo{
  min-height: 50px;
}

.checkoutMain__resume--deliveryInfoBtn{
  width: 100%;
  min-height: 35px;
  border-radius: var(--border-radius-less);
  border: none;
  background-color: var(--black-details-color);
  color: var(--white-color);
  font-size: var(--fs-body-text);
}
.checkoutMain__resume-deliveryInfo .login__form {
  background-color: var(--white-color);
  max-width: 100%;
  padding-top: 25px;
}
.checkoutMain__resume-deliveryInfo .login__form label{
  background-color: white;
}

.checkoutMain__resume-total{
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: var(--black-bg-contrast);
}
.checkoutMain__resume-total span{
  padding: 5px;
  font-size: var(--fs-body-text);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--black-color);
}
.checkoutMain__resume-buy, .checkoutMain__resume-buyWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.checkoutMain__resume-buyWrapper{
  padding: 20px;
}

.checkoutMain__resume-buyWrapper  a{
  text-align: center;
  text-decoration: none;
  
}

