.checkoutMain{
  width: 100%;
}
.checkoutMain .checkoutMainWrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: 1fr;
  column-gap: 10px;
}
.checkoutMain__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkoutMain__title h3 {
  font-size: var(--fs-title);
  font-family: var(--font-title);
  letter-spacing: var(--letler-spacing-title);
}
.checkoutMain__listItems{
  width: 100%;
  border-top: 1px solid var(--black-separador);
}

.checkoutMain__resume{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border-radius: var(--border-radius-less);
}
.checkoutMain__resume h3 {
  text-align: center;
  padding: 15px;
  font-family: var(--font-title);
  letter-spacing: var(--letler-spacing-title);
}




.checkoutMain__resume-deliveryInfo{
  min-height: 50px;
}

.checkoutMain__resume--deliveryInfoBtn{
  width: 100%;
  min-height: 35px;
  border-radius: var(--border-radius-less);
  border: none;
  background-color: var(--black-details-color);
  color: var(--white-color);
  font-size: var(--fs-body-text);
}
.checkoutMain__resume-deliveryInfo .login__form {
  background-color: var(--white-color);
  max-width: 100%;
  padding-top: 25px;
}
.checkoutMain__resume-deliveryInfo .login__form label{
  background-color: white;
}

.checkoutMain__resume-total{
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: var(--black-bg-contrast);
}
.checkoutMain__resume-total span{
  padding: 5px;
  font-size: var(--fs-body-text);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--black-color);
}
.checkoutMain__resume-buy, .checkoutMain__resume-buyWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.checkoutMain__resume-buyWrapper{
  padding: 20px;
}

.checkoutMain__resume-buyWrapper  a{
  text-align: center;
  text-decoration: none;
  
}

