
.productDetails{
  width: 95%;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;

}
.productDetails__card {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px,500px));
  grid-template-rows: 1fr 50px auto auto;
  border-radius: calc(var(--curve) * 1px);
  border-bottom-left-radius: 0;
  min-width: 275px;
  text-decoration: none;
  overflow: hidden;
}

.productDetails__card-ImgContainer{
  width: 100%;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  position:relative;
  z-index: -1;
 }
.productDetails__card img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;

}

.productDetails__card-description {
  display: flex;
  justify-content: flex-start;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  width: 100%;
  flex-direction: column;
  border-top-left-radius: calc(var(--border-curve) * 1px);    
  background-color: var(--white-color);   
  
}

.productDetails__card-descriptionHeader{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: 1px solid var( --black-separador);
}
.productDetails__card-descriptionHeader h3 {
  font-size: var(--fs-subtitle);
}
.productDetails__card-descriptionArticle {
  width: 100%;
  min-height: 100px;
  background-color: var(--white-color);    
  min-height: 100px;
  margin-bottom: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.productDetails__card-descriptionArticle  p {
  font-size: var(--fs-details);
  color: var(--black-details-color);
  padding: 0 1rem;
  text-align: justify;
}
.productDetails__card-descriptionArticle-category {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.productDetails__card-descriptionArticle h4 {
  font-size: var(--fs-subtitle);
  color: inherit;
  color: var(--black-color);
}
.productDetails__footer{
  grid-column: 1 / 2;
  grid-row: 4/ 5;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  min-height: 50px;
  background-color: var(--white-color);
}
.productDetails__footer-price{
  font-size: var(--fs-title); 
  color: var(--brand-color);
  font-weight: 700;
}
.productDetails__footer-buyBtn, .productDetails__footer-favBtn{
  border: none;
  background-color: transparent;

}



@media (min-width: 700px) {
  .productDetails{
    max-width: 800px;
    margin-top: 50px;
  }
  .productDetails__card {
    grid-template-columns: 2fr 50px 2fr;
  }
  .productDetails__card img{
    padding-right: 50px;
  }
  .productDetails__card-ImgContainer{
    width: 100%;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
  }
  .productDetails__card-description {
    display: flex;
    grid-column: 2 / 4;
    grid-row: 1 / -1;
  }
  .productDetails__card-description p {

    font-size: var(--fs-body-text);
  }
  .productDetails__card-descriptionHeader h3{
    font-size: var(--fs-bigger);
  }
  .productDetails__card-buyBtn{
    grid-column: 2 / 4;
    grid-row: 2/ 3;
  
  }

 }