.footer__user-on{
  padding-bottom: 65px;
}


/* .primaryBtn{
  width: 100%;
  max-width:300px;
  height: 45px;
  border:none;
  border-radius: 10px;
  color: var(--white-color);
  font-size: var(--fs-details);
  text-transform: capitalize;
  background-color: var(--brand-color);
}

.primaryBtn-success{
  width: 100%;
  max-width:300px;
  height: 45px;
  border:none;
  border-radius: 24px;
  color: var(--white-color);
  font-size: var(--fs-details);
  text-transform: capitalize;
  background-color: var(--sucess-color);
} */

.primaryButton {
  width: 100%;
  min-height: 40px;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: none;
  background-color: var(--brand-color);
  border-radius: var(--border-radius);
  color: var(--white-color);
  font-size: var(--fs-body-text);
  font-weight: 700;
  text-transform: uppercase;
}
.segundaryButton{
  width: 100%;
  min-height: 40px;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: var(--border-radius);
  font-size: var(--fs-body-text);
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--black-color);
  border: 1px solid var(--brand-color);
}

.portalContainer{
  background-color: var(--portal-Bg-color);
  position: fixed;
  top: -10px;
  bottom: -10px;
  right: -10px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--loader-zIndex)
}

