/* variables */
:root {
  /* variables COLORS*/
  --brand-color : #437DBC;
  --black-color: #4F4F4F;
  --black-title-color: #4A4A4A;
  --black-details-color: #666666e8;
  --black-separador: rgba(105, 98, 98, 0.233);
  --black-bg-contrast: rgba(185, 182, 182, 0.473);
  --portal-Bg-color : hsla(240, 9%, 61%, 0.199);
  --shadow-color: rgba(102,102,102,0.49);
  --shadow-secondary:2px 5px 13px -4px rgba(67,125,188,0.43);
  --white-color: #f5f5f5;
  --error-color: #FF7272;
  --sucess-color: #39c4a1;
  /* variables COLORS*/
  
  /* variables FONTS*/
  --font-primary: 'Montserrat', sans-serif;
  --font-title: 'Bebas Neue';
  --letler-spacing-title: 1.5px;
  --fs-tiny: 1rem;
  --fs-small: 1.2rem;
  --fs-details: 1.4rem;
  --fs-body-text-small: 1.6rem;
  --fs-body-text: 1.8rem;
  --fs-subtitle: 2.0rem;
  --fs-title: 2.4rem;
  --fs-bigger: 3.2rem;
  /* variables FONTS*/
  
/* slider hero variables */
--swiper-theme-color: rgba(255, 255, 255, 0.6) ;
--swiper-navigation-size: 32px;
/* slider hero variables */
/* Others */
--border-radius : 10px;
--border-radius-less : 5px;
--loader-zIndex: 200;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}
html{
  font-size: 62.5%;
  font-family: var(--font-primary);
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  width: 100%;
  min-height: calc(100vh - 65px);
  line-height: 1.5;
  margin: 0 auto;
  overscroll-behavior: none;
  /* padding-bottom: 65px; */
}

/* A elements that don't have a class get default styles */


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*::-webkit-scrollbar{
  width: 7px;
  height: 7px;
}
*::-webkit-scrollbar-thumb{
  background-color: var(--sucess-color);
  opacity: 0.5;
}
*::-webkit-scrollbar-thumb{
  background-color:  var(--sucess-color);
  border-radius: 10px;
}