.fade-in {
  opacity: 1;
  animation-name: fadeInOpactity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;
}
@keyframes fadeInOpactity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.elasticRotate {
  animation-name: elastic;
  animation-duration: 500ms;
  transition-timing-function: cubic-bezier(.5,1.75,.75,1.25);
}

@keyframes elastic {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(50deg);
  }
}
